.jumbotron {
  background-color: #4FE300;
}

#start-survey {
  background-color: hotpink;
}

body {
  background-image: url("/background.png");
}

.question-heading {
  
}

.answer-menu {
 width: 30% !important;
}

#survey-section {
  background-color: white;
  padding: 30px;
}

.form-control {

}